<footer class="bg-sky-500 text-center lg"><text-left class="w-full">
    <div class="text-gray-700 text-center p-4"<% _slim_codeattributes1 = ("background-color: rgba(0), 0, 0, 0.2"); if _slim_codeattributes1; if _slim_codeattributes1 == true %> style=""<% else %> style="<%= _slim_codeattributes1 %>"<% end; end %>>
      © 2022 Copyright:
      <a class="text-white">
      </a>Teachers Dashboard
    </div>
  </text-left></footer>
